<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deem.zkui.mapper.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.deem.zkui.domain.History">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="change_user" jdbcType="VARCHAR" property="changeUser" />
    <result column="change_date" jdbcType="TIMESTAMP" property="changeDate" />
    <result column="change_summary" jdbcType="VARCHAR" property="changeSummary" />
    <result column="change_ip" jdbcType="VARCHAR" property="changeIp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    id, change_user, change_date, change_summary, change_ip
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    select 
    <include refid="Base_Column_List" />
    from histories
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="findAll" resultMap="BaseResultMap">
      select * from histories
      where 1=1
      <if test="historyNode != null and historyNode != ''">
        and change_summary like like concat('%',#{historyNode,jdbcType=VARCHAR},'%')
      </if>
      order by change_date desc
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    delete from histories
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.deem.zkui.domain.History">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    insert into histories (id, change_user, change_date, 
      change_summary, change_ip)
    values (#{id,jdbcType=BIGINT}, #{changeUser,jdbcType=VARCHAR}, #{changeDate,jdbcType=TIMESTAMP}, 
      #{changeSummary,jdbcType=VARCHAR}, #{changeIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.deem.zkui.domain.History">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    insert into histories
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="changeUser != null">
        change_user,
      </if>
      <if test="changeDate != null">
        change_date,
      </if>
      <if test="changeSummary != null">
        change_summary,
      </if>
      <if test="changeIp != null">
        change_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="changeUser != null">
        #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeSummary != null">
        #{changeSummary,jdbcType=VARCHAR},
      </if>
      <if test="changeIp != null">
        #{changeIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.deem.zkui.domain.History">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    update histories
    <set>
      <if test="changeUser != null">
        change_user = #{changeUser,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        change_date = #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeSummary != null">
        change_summary = #{changeSummary,jdbcType=VARCHAR},
      </if>
      <if test="changeIp != null">
        change_ip = #{changeIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.deem.zkui.domain.History">
    <!-- generated @mbg.generated date: 2018-08-03 -->
    update histories
    set change_user = #{changeUser,jdbcType=VARCHAR},
      change_date = #{changeDate,jdbcType=TIMESTAMP},
      change_summary = #{changeSummary,jdbcType=VARCHAR},
      change_ip = #{changeIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>